* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: auto;
  width: 1108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  color: #333333;
  margin: 0;
  background-color: #F5FAFE;
  font-family: 'Mulish';
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  height: 24px;
  width: 177px;
  margin-right: 108px;
}

.search {
  position: relative;
  height: 40px;
  width: 350px;
  margin-right: auto;
  text-decoration: none;
  color: black;
  font-family: "Mulish";
}

.search .search_input {
  width: 95%;
  padding-right: 70px;
  background: #F5FAFE;
  border-radius: 6px;
  height: 100%;
  padding-left: 10px;
  border-color: transparent;
  border: 0px;
}

.search .search_button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 65px;
  background: #EC1F46;
  border-radius: 0px 6px 6px 0px;
  border-color: transparent;
  border: 0px;
}

.row--top {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container--top {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.login {
  height: 40px;
  width: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-family: "Mulish";
}

.login .login__img {
  margin-right: 18px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row--bottom {
  background: #0A223D;
  height: 80px;
}

.header-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Mulish';
  font-size: 14;
  font-weight: bold;
  text-transform: uppercase;
}

.adaptive-button {
  display: none;
  padding: 0;
}

.breadcrumb {
  padding: 19px 0;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-list__item {
  text-decoration: none;
  color: inherit;
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: ' /';
  margin-right: 4px;
}

.hotel-grid_inside {
  width: 728px;
  max-height: 100%;
  margin-right: 20px;
}

.hotel-grid-container {
  padding-bottom: 70px;
}

.hotel-person-img {
  height: 14px;
  width: 14px;
  margin-right: 13px;
}

.hotel-house-img {
  height: 12px;
  width: 13px;
  margin-right: 15px;
}

.hotel-phone-img {
  height: 13px;
  width: 13px;
  margin-right: 8px;
}

.hotel-price {
  border-radius: 8px;
  padding: 28px;
  height: 210px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0A223D;
  color: white;
  font-family: 'Nunito';
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 27px;
}

.hotel-price-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-price-block {
  width: 100%;
}

.hotel-price-info__person {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-price-info__room {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-price-info__booking {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-price-button {
  width: 100%;
  padding: 13px 82px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  color: white;
}

.hotel-price-left__start {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.hotel-price-left__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 1px;
}

.hotel-price-left__duration {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.hotel-price-left__booking {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.hotel-info {
  padding-top: 24px;
  padding-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hotel-info__text__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-info__text__name {
  margin: 5px 14px 0 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.hotel-info__text__offer {
  margin-top: 5px;
  padding: 4px 9px;
  background-color: #EC1F46;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  border-radius: 4px;
}

.hotel-info__text__bottom {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.hotel-info__rating {
  margin: 0;
  height: 45px;
  width: 65px;
  border-radius: 4px;
  background-color: #EC1F46;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-info__rating__text {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}

.hotel-info__rating__counter__left {
  font-size: 14px;
  line-height: 18px;
}

.hotel-info__rating__counter__right {
  font-size: 8px;
  line-height: 10px;
}

.stars {
  width: 100%;
}

.swiper-img {
  height: 100%;
  width: 100%;
}

.swiper-container {
  position: relative;
  margin: 0;
  border-radius: 8px;
  width: 100%;
  height: 450px;
}

.swiper-container:after {
  content: '';
  width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.swiper-button {
  outline: none;
  cursor: pointer;
  background-position: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.swiper-button--prev {
  background-image: url(../img/arrow-prev.svg);
  left: 27px;
}

.swiper-button--next {
  background-image: url(../img/arrow-next.svg);
  right: 27px;
}

.price-map-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
}

.map {
  height: 210px;
  width: 350px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .swiper-container {
    width: 600px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 90%;
  }
  .logo {
    margin-right: auto;
  }
  .header-link {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
  }
  .search {
    width: 340px;
  }
  .logo {
    width: 132px;
    height: 18px;
  }
  .swiper-container {
    width: 450px;
  }
  .swiper-img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  .search {
    max-width: 300px;
  }
  .logo {
    margin-right: 47px;
  }
  .swiper-container {
    width: 700px;
  }
  .swiper-img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hotel-price {
    width: 340px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .hotel-grid_inside {
    margin-bottom: 30px;
  }
  .hotel-grid-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price-map-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .map {
    width: 340px;
  }
}

@media (max-width: 700px) {
  .hotel-info__rating {
    display: none;
  }
  .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .search, .login, .row--bottom {
    display: none;
  }
  .logo {
    width: 100px;
    height: 14px;
  }
  .adaptive-button {
    height: 11px;
    width: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    background-color: #fff;
  }
  .adaptive-button__line {
    height: 1px;
    width: 16px;
    background-color: #333333;
  }
}

@media (max-width: 480px) {
  .container {
    width: 87%;
  }
  .stars {
    max-width: 60px;
  }
  .hotel-price {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .hotel-grid_inside {
    margin-top: 18px;
    width: 100%;
    margin-bottom: 20px;
    height: 250px;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__text__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-info__text__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .hotel-info__text__name {
    width: 100%;
    margin-top: 14px;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .map {
    width: 420px;
  }
}

@media (max-width: 320px) {
  .map {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */