* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: auto;
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  color: #333333;
  margin: 0;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
}

.logo {
  height: 24px;
  width: 177px;
  margin-right: 108px;
}

.search {
  position: relative;
  height: 40px;
  width: 350px;
  margin-right: auto;
  text-decoration: none;
  color: black;
  font-family: "Mulish";
}

.search .search_input {
  width: 95%;
  padding-right: 70px;
  background: #F5FAFE;
  border-radius: 6px;
  height: 100%;
  padding-left: 10px;
  border-color: transparent;
  border: 0px;
}

.search .search_button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 65px;
  background: #EC1F46;
  border-radius: 0px 6px 6px 0px;
  border-color: transparent;
  border: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container--top {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.login {
  height: 40px;
  width: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-family: "Mulish";
}

.login .login__img {
  margin-right: 18px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row--bottom {
  background: #0A223D;
  height: 80px;
}

.header-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Mulish';
  font-size: 14;
  font-weight: normal;
  text-transform: uppercase;
}

.adaptive-button {
  display: none;
  padding: 0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .logo {
    margin-right: auto;
  }
  .header-link {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
  }
  .search {
    width: 340px;
  }
  .logo {
    width: 132px;
    height: 18px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 480px) {
  .search, .login, .row--bottom {
    display: none;
  }
  .logo {
    width: 100px;
    height: 14px;
  }
  .adaptive-button {
    height: 11px;
    width: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    background-color: #fff;
  }
  .adaptive-button__line {
    height: 1px;
    width: 16px;
    background-color: #333333;
  }
}
/*# sourceMappingURL=style.css.map */