* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: auto;
  width: 1108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  color: #333333;
  margin: 0;
  background-color: #F5FAFE;
  font-family: 'Mulish';
  outline: none;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  height: 24px;
  width: 177px;
  margin-right: 108px;
}

.search {
  position: relative;
  height: 40px;
  width: 350px;
  margin-right: auto;
  text-decoration: none;
  color: black;
  font-family: "Mulish";
}

.search__mobile--visible {
  display: none;
}

.search_input {
  width: 100%;
  padding-right: 70px;
  background: #F5FAFE;
  border-radius: 6px;
  height: 100%;
  padding-left: 10px;
  outline: none;
  border-color: transparent;
  border: 0px;
}

.search_button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 65px;
  background: #EC1F46;
  border-radius: 0px 6px 6px 0px;
  border-color: transparent;
  border: 0px;
}

.row--top {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container--top {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.login {
  height: 40px;
  width: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-family: "Mulish";
}

.login__mobile--visible {
  display: none;
}

.login__img {
  margin-right: 18px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row--bottom {
  background: #0A223D;
  height: 80px;
}

.header-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Mulish';
  font-size: 14;
  font-weight: bold;
  text-transform: uppercase;
}

.adaptive-button {
  display: none;
  padding: 0;
}

.breadcrumb {
  padding: 19px 0;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-list__item {
  text-decoration: none;
  color: inherit;
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: ' /';
  margin-right: 4px;
}

.hotel-swiper {
  border-radius: 8px;
}

.hotel-swiper-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hotel-swiper-container {
  position: relative;
  margin: 0;
  border-radius: 8px;
}

.hotel-swiper-button {
  outline: none;
  cursor: pointer;
  background-position: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.hotel-swiper-button--prev {
  background-image: url(../img/arrow-prev.svg);
  left: 27px;
}

.hotel-swiper-button--next {
  background-image: url(../img/arrow-next.svg);
  right: 27px;
}

.hotel-swiper-slide {
  position: relative;
  max-height: 450px;
}

.hotel-swiper-slide:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.hotel-grid_inside {
  width: 728px;
  max-height: 100%;
  margin-right: 20px;
}

.hotel-grid-container {
  margin-bottom: 70px;
}

.hotel-person-img {
  height: 14px;
  width: 14px;
  margin-right: 13px;
}

.hotel-house-img {
  height: 12px;
  width: 13px;
  margin-right: 15px;
}

.hotel-phone-img {
  height: 13px;
  width: 13px;
  margin-right: 8px;
}

.hotel-price {
  border-radius: 8px;
  padding: 28px;
  height: 210px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0A223D;
  color: white;
  font-family: 'Nunito';
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 27px;
}

.hotel-price-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-price-block {
  width: 100%;
}

.hotel-price-info__person {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-price-info__room {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-price-info__booking {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-price-button {
  width: 100%;
  padding: 13px 82px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  color: white;
}

.hotel-price-left__start {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.hotel-price-left__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 1px;
}

.hotel-price-left__duration {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.hotel-price-left__booking {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.hotel-info {
  padding-top: 24px;
  padding-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hotel-info__text__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-info__text__name {
  margin: 5px 14px 0 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.hotel-info__text__offer {
  margin-top: 5px;
  padding: 4px 9px;
  background-color: #EC1F46;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  border-radius: 4px;
}

.hotel-info__text__bottom {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.hotel-info__rating {
  margin: 0;
  height: 45px;
  width: 65px;
  border-radius: 4px;
  background-color: #EC1F46;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-info__rating__text {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}

.hotel-info__rating__counter__left {
  font-size: 14px;
  line-height: 18px;
}

.hotel-info__rating__counter__right {
  font-size: 8px;
  line-height: 10px;
}

.stars {
  width: 100%;
}

.price-map-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map {
  height: 210px;
  width: 350px;
  border-radius: 10px;
  border: none;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/subs-bg.jpg);
  background-position: center;
  height: 260px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.subscribe:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 34, 61, 0.8);
}

.subscribe-container {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-title {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin-right: 139px;
}

.subscribe-title__p1 {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.subscribe-title__p2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe-form__row {
  position: relative;
  border-radius: 4px;
}

.subscribe-form__row-input {
  width: 350px;
  height: 55px;
  padding-right: 70px;
  padding-left: 20px;
  border: none;
}

.subscribe-form__row-button {
  width: 65px;
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #EC1F46;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border-radius: 0px 4px 4px 0px;
}

.rewies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  margin-bottom: 70px;
}

.rewies-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.rewies-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 70px 0;
}

.rewies-swiper {
  width: 731px;
}

.rewies-swiper-author {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  position: relative;
  margin-top: 45px;
}

.rewies-swiper-author:before {
  content: '';
  width: 100px;
  height: 100px;
  background-image: url(../img/quote-left.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 12px;
  left: 64px;
}

.rewies-swiper-author:after {
  content: '';
  width: 100px;
  height: 100px;
  background-image: url(../img/quote-right.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 118px;
  right: 62px;
}

.rewies-swiper-author__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -45px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.rewies-swiper-author__name {
  margin-top: 54px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
  margin-bottom: 10px;
}

.rewies-swiper-author__last-date {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000;
  margin-bottom: 5px;
}

.rewies-swiper-author__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  padding: 30px 95px 30px 99px;
  z-index: 2;
}

.rewies-swiper-button {
  top: 68%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
  outline: none;
  cursor: pointer;
  background-position: center;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  z-index: 2;
}

.rewies-swiper-button__prev {
  background-image: url(../img/arrow-prev-bottom.svg);
  left: 30px;
}

.rewies-swiper-button__next {
  background-image: url(../img/arrow-next-bottom.svg);
  right: 30px;
}

.activities {
  margin-bottom: 98px;
}

.activities-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 57px;
  margin-top: 0;
}

.activities-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.activities-block {
  width: 255px;
  height: 255px;
  padding: 24px 26px;
  background-repeat: no repeat;
  background-position: center;
  position: relative;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-size: cover;
}

.activities-block__button {
  z-index: 2;
  background-color: #EC1F46;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Nunito';
  color: white;
  margin-top: 18px;
}

.activities-block__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: white;
  z-index: 2;
}

.activities-block-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.activities-block:after {
  content: '';
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.activities-block__1st {
  background-image: url(../img/act-block_1st.jpg);
}

.activities-block__2nd {
  background-image: url(../img/act-block_2nd.jpg);
}

.activities-block__3th {
  background-image: url(../img/act-block_3th.jpg);
}

.activities-block__4th {
  background-image: url(../img/act-block_4th.jpg);
}

.packages {
  margin-bottom: 70px;
  display: none;
}

.packages-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.packages-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr 1fr/repeat(3, 1fr);
  width: 100%;
  height: 1030px;
  gap: 30px;
}

.packages-grid__element {
  position: relative;
}

.packages-grid__element__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0A223D;
  color: white;
  padding: 30px 21px 25px 32px;
  height: 250px;
  margin: 0;
  border-radius: 0px 0px 8px 8px;
  position: relative;
}

.packages-grid__element__description-price {
  position: absolute;
  bottom: 30px;
  left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.packages-grid__element__description-price__big {
  bottom: 35px;
  left: 46px;
}

.packages-grid__element__description-price__old {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.packages-grid__element__description-price__new {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.packages-grid__element__description_info__addres {
  margin-bottom: 11px;
}

.packages-grid__element__description_info__person {
  margin-bottom: 11px;
}

.packages-grid__element__description_info__rooms {
  margin-bottom: 11px;
}

.packages-grid__element__description_info__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-left: 15px;
}

.packages-grid__element__description__text {
  margin-top: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 160.6%;
  margin-bottom: 34px;
}

.packages-grid__element__description__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  margin-bottom: 23px;
}

.packages-grid__element__description__button {
  position: absolute;
  right: 21px;
  bottom: 30px;
}

.packages-grid__element__photo {
  width: 350px;
  height: 250px;
}

.packages-grid__element__photo__offer {
  position: absolute;
  left: 0;
  top: 26px;
  padding: 4px 9px;
  border-radius: 0px 4px 4px 0px;
  background-color: #EC1F46;
  color: white;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}

.packages-grid__element__photo__offer__big {
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.packages-grid__element__photo__big {
  width: 366px;
  height: 500px;
}

.packages-grid__element__1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.packages-grid__element__1__description {
  width: 50%;
  padding-left: 44px;
  width: 364px;
  height: 500px;
  border-radius: 0px 8px 8px 0px;
}

.hotel-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.hotel-photo__big {
  border-radius: 8px 0px 0px 8px;
}

.footer {
  background-color: #0A223D;
  padding-top: 108px;
  padding-bottom: 46px;
  color: white;
}

.footer-partners {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-partners__img {
  width: 136px;
}

.footer-super {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 283px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.footer-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-bottom-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr/repeat(3, 1fr);
}

.footer-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
}

.footer-socnetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-socnetwork__youtube, .footer-socnetwork__facebook {
  margin-right: 11px;
}

.footer-socnetwork__text {
  margin-bottom: 0;
  margin-right: 43px;
}

.footer-text {
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
  color: #BDBDBD;
  line-height: 23px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-logo {
  grid-row: 2 span;
  width: 166px;
  height: 192px;
}

.footer-logo__img {
  width: 100%;
  height: 100%;
}

.footer-categories {
  grid-row: 2 span;
}

.footer-socnetwork {
  grid-column: 2 span;
}

.footer-contacts {
  margin-top: 82px;
  margin-right: 60px;
  grid-column: 2 span;
}

.footer-contacts-text {
  margin-bottom: 22px;
}

.footer-contacts__element {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts__element__map {
  margin-bottom: 26px;
}

.footer-contacts__element__call {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 26px;
}

.footer-contacts__element__ul {
  padding: 0;
  list-style: none;
}

.footer-contacts__element__phone {
  margin-right: 20px;
  margin-top: 14px;
  height: 18px;
  width: 18px;
}

.footer-contacts__element__mmark {
  margin-right: 20px;
  width: 14px;
  height: 20px;
}

.footer-contacts__element__mail {
  margin-right: 20px;
  width: 16.67px;
  height: 13.37px;
}

.footer-feedback {
  margin-top: 82px;
  grid-column: 2 span;
  margin-bottom: 101px;
}

.footer-feedback__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-feedback__lemma {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.footer-feedback__button {
  width: 160px;
  height: 50px;
  border-radius: 4px;
  outline: none;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.footer-feedback-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-feedback__name, .footer-feedback__phone {
  width: 47.31%;
  height: 50px;
  border-radius: 4px;
  border: none;
  padding-left: 23px;
  outline: none;
  margin-bottom: 15px;
}

.footer-feedback__message {
  width: 100%;
  height: 123px;
  border-radius: 4px;
  border: none;
  padding-left: 23px;
  outline: none;
  margin-bottom: 23px;
  padding: 18px 23px;
}

.footer-feedback-title {
  margin: 0;
  margin-top: -10px;
  margin-bottom: 34px;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 171px 23px 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template: 171px 23px 1fr/repeat(4, 1fr);
  row-gap: 24px;
}

.modal {
  visibility: hidden;
  opacity: 0;
}

.modal--visible {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 18px;
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 143, 223, 0.39);
  z-index: 5;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
  width: 478px;
  max-height: 487px;
  background-color: #0A223D;
  padding: 33px 88px;
  color: white;
  border-radius: 8px;
}

.modal-window__text {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}

.modal-window__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 18px 65px;
}

.modal-window__block--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-window__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
}

.modal-window__form {
  width: 100%;
}

.modal-window__form__name, .modal-window__form__phone, .modal-window__form__email, .modal-window__form__message {
  height: 50px;
  width: 100%;
  border-radius: 4px;
  padding: 18px 23px;
  border: none;
  max-width: 100%;
  margin-bottom: 15px;
}

.modal-window__form__message {
  height: 123px;
  max-height: 123px;
}

@media (max-width: 1200px) {
  .activities-block {
    width: 49.05%;
    margin-bottom: 20px;
  }
  .container {
    max-width: 80%;
  }
  .hotel-price {
    width: 48%;
  }
  .hotel-swiper-slide {
    width: 100%;
    height: 100%;
  }
  .hotel-swiper-container {
    width: 100%;
    height: 100%;
  }
  .hotel-swiper-container:after {
    max-width: 100%;
  }
  .hotel-grid_inside {
    width: 100%;
  }
  .hotel-grid-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price-map-block {
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .map {
    width: 48%;
  }
  .footer-grid {
    row-gap: 40px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 90%;
  }
  .logo {
    margin-right: auto;
  }
  .header-link {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
  }
  .search {
    width: 340px;
  }
  .logo {
    width: 132px;
    height: 18px;
  }
  .map {
    max-width: 100%;
  }
  .hotel-price {
    max-width: 100%;
  }
  .swiper-container {
    width: 100%;
  }
  .footer-bottom-grid {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1.6fr 1fr;
        grid-template: 1fr / 1fr 1.6fr 1fr;
  }
  .footer-super {
    width: 100%;
  }
  .footer-grid {
    -ms-grid-rows: 230px 23px 1fr;
    -ms-grid-columns: (1fr)[4];
        grid-template: 230px 23px 1fr/repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .search {
    max-width: 300px;
  }
  .logo {
    margin-right: 47px;
  }
  .logo-img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hotel-price {
    width: 48%;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .hotel-grid_inside {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .map {
    width: 48%;
  }
  .subscribe-title {
    margin-right: 8%;
  }
  .rewies-swiper {
    width: 579px;
  }
  .rewies-swiper-author__text {
    padding: 33px 60px 30px 64px;
  }
  .rewies-swiper-author:after {
    display: none;
  }
  .rewies-swiper-author:before {
    display: none;
  }
  .rewies-swiper-button__prev {
    left: 0;
  }
  .rewies-swiper-button__next {
    right: 0;
  }
  .price-map-block {
    margin-top: 0;
  }
  .footer-partners {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .footer-bottom-grid {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 283px 1fr;
        grid-template: 1fr / 283px 1fr;
  }
  .footer-super {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .footer-logo {
    width: 104px;
    height: 120px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    grid-row: 1 span;
  }
  .footer-socnetwork {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-column: 2 span;
  }
  .footer-categories {
    grid-row: 1 span;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-addinformation {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer-leginformation {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .footer-contacts {
    margin-top: 0;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    grid-column: 3 span;
  }
  .footer-feedback {
    margin-top: 0;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    grid-column: 3 span;
  }
  .footer-feedback-container {
    width: 78%;
  }
  .footer-grid {
    grid-template: none;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .modal-window {
    width: 90%;
    height: 90%;
    padding: 30px 40px;
  }
}

@media (max-width: 700px) {
  .hotel-price {
    width: 48%;
  }
  .hotel-info__rating {
    display: none;
  }
  .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .search {
    display: none;
  }
  .search__mobile--visible {
    display: block;
    position: relative;
    width: 243px;
    height: 40px;
  }
  .logo {
    width: 100px;
    height: 14px;
  }
  .adaptive-button {
    outline: none;
    height: 11px;
    width: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    background-color: #fff;
  }
  .adaptive-button__line {
    height: 1px;
    width: 16px;
    background-color: #333333;
  }
  .map {
    width: 48%;
  }
  .subscribe {
    height: 320px;
  }
  .subscribe-title {
    margin-right: 0;
    margin-bottom: 37px;
  }
  .subscribe-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer-feedback {
    width: 100%;
  }
  .footer-feedback-container {
    width: 100%;
  }
  .row--top {
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
  }
  .row--bottom__mobile--hidden {
    display: none;
  }
  .row--bottom__mobile--visible {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 95vh;
    overflow-y: scroll;
  }
  body {
    padding-top: 94px;
  }
  .header {
    top: 0;
    position: fixed;
    z-index: 4;
    width: 100%;
  }
  .header-link {
    margin-bottom: 20px;
  }
  .header-container--bottom {
    position: absolute;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 45px;
    padding-bottom: 68px;
  }
  .login {
    display: none;
    height: auto;
  }
  .login__img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .login__mobile--visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
    margin-bottom: 27;
    font-weight: normal;
  }
}

@media (max-width: 660px) {
  .activities-block {
    width: 97.225%;
  }
  .activities-block-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map {
    width: 100%;
  }
  .hotel-price {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .hotel-grid_inside {
    height: 20%;
  }
  .rewies-swiper {
    width: 90%;
  }
  .modal-window {
    -webkit-transform: translateY(-50%, 50%);
            transform: translateY(-50%, 50%);
    width: 90%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 93%;
  }
  .stars {
    max-width: 60px;
  }
  .hotel-swiper-container {
    width: 100%;
    height: 100%;
  }
  .hotel-price {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .hotel-grid_inside {
    margin-top: 18px;
    width: 100%;
    margin-bottom: 20px;
    height: 250px;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__text__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-info__text__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .hotel-info__text__name {
    width: 100%;
    margin-top: 14px;
  }
  .rewies-title {
    margin-bottom: 42px;
  }
  .rewies-swiper-button {
    top: 177px;
  }
  .rewies-swiper-button__prev {
    left: 20%;
  }
  .rewies-swiper-button__next {
    right: 20%;
  }
  .map {
    width: 100%;
  }
  .subscribe {
    padding-bottom: 83px;
  }
  .subscribe-form__row-input {
    width: 280px;
  }
  .footer {
    padding-bottom: 20px;
    padding-top: 70px;
  }
  .footer-partners {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .footer-bottom-grid {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr / 1fr;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .footer-socnetwork {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-column: 1 span;
  }
  .footer-socnetwork__text {
    margin-right: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 22px;
  }
  .footer-leginformation {
    margin: 0;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-addinformation {
    margin: 0;
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer-categories {
    margin: 0;
    width: 100%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .footer-contacts {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    grid-column: 1 span;
  }
  .footer-feedback {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    grid-column: 1 span;
  }
  .footer-feedback__message {
    margin-bottom: 15px;
  }
  .footer-feedback__button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-feedback__lemma {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 15px;
  }
  .footer-feedback__name, .footer-feedback__phone {
    width: 100%;
  }
  .footer-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 30px;
  }
  .modal-window {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 344px) {
  .rewies-swiper-button {
    top: 222px;
  }
}

@media (max-width: 320px) {
  .map {
    width: 100%;
  }
  .subscribe-title__p1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
  }
  .subscribe-title__p2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
  .rewies-title {
    font-size: 18px;
    line-height: 23px;
  }
  .rewies .rewies-swiper-button {
    top: 134px;
  }
  .rewies .rewies-swiper-author__text {
    padding: 33px 29px 36px 33px;
  }
  .hotel-price {
    padding: 29px 21px 26px 22px;
  }
  .hotel-price-button {
    padding: 0;
    width: 235px;
    height: 45px;
  }
}

@media (max-height: 524px) {
  .modal-window {
    overflow-y: scroll;
  }
}
/*# sourceMappingURL=style.css.map */