@import 'mixins'
@import 'var'

@media ( max-width: 1200px )
  .activities
    &-block
      width: 49.05%
      margin-bottom: 20px
  .container
    max-width: 80%
  .hotel
    &-price
      width: 48%
    &-swiper
      &-slide
        width: 100%
        height: 100%
      &-container
        width: 100%
        height: 100%
        &:after
          max-width: 100%
    &-grid
      &_inside
        width: 100%
      &-container
        flex-wrap: wrap
  .price-map-block
    margin-top: 30px
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
  .map
    width: 48%
  .footer
    &-grid
      grid-template: 171px 23px 1fr / repeat(4, 1fr)
      row-gap: 50px
  .header
    &-link
      padding: 31px 5px
@media ( max-width: 992px )
  .gb-button
    &:hover
      background-color: $primary
  .activities
    &-block
      &__button
        &:hover
          background-color: $primary
  .subscribe
    &-form
      &__row
        &-button
          &:hover
            background-color: $primary
  .container
    max-width: 90%
  .logo
    margin-right: auto
  .header
    &-link
      font-size: 12px
      line-height: 15px
      font-weight: bold
      padding: 0
      &:hover
        background-color: $dark-color
        transition: 0s
  .search
    width: 340px
    &_button
      &:hover
        background-color: $primary
  .logo
    width: 132px
    height: 18px
  .map
    max-width: 100%
  .hotel
    &-price
      max-width: 100%
      &-button
        &:hover
          background-color: $primary
  .swiper
    &-container
      width: 100%
  .footer
    &-feedback
      &__button
        &:hover
          background-color: $primary
    &-socnetwork
      &__youtube, &__facebook, &__instagram
        &:hover
          animation: none
    &-text
      &:hover
        animation: none
    &-bottom-grid
      grid-template: 1fr / 1fr 1.6fr 1fr
    &-super
      width: 100%
      &__text
        &:hover
          animation: none
    &-grid
      grid-template: 230px 23px 1fr / repeat(4, 1fr)
      row-gap: 40px
@media ( max-width: 768px )
  .activities
    padding-bottom: 45px
  .header
    &-link
      padding: 0
    &-container
      &--top
        padding: 30px 0
      &--bottom
        width: 87%
  .row
    &--top
      height: 100px
      padding: 0
    &--bottom
      height: 60px
  .container
    max-width: 91.1%
  .search
    max-width: 340px
  .logo
    margin-right: 47px
    &-img
      object-fit: fill
  .hotel
    &-price
      width: 48%
      margin-bottom: 0
      margin-right: 20px
    &-grid
      &-container
        padding-bottom: 60px
      &_inside
        width: 100%
        margin-bottom: 30px
        margin-right: 0
  .map
    width: 48%
  .subscribe
    padding-top: 92px
    padding-bottom: 93px
    &-title
      margin-right: 0
    &-container
      width: 100%
  .rewies
    padding-bottom: 80px
    &-title
      margin-bottom: 50px
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
    &-swiper
      width: 579px
      &-author
        &__text
          padding: 33px 60px 30px 64px
        &:after
          display: none
        &:before
          display: none
      &-button
        &__prev
          left: 0
        &__next
          right: 0
  .price-map-block
    margin-top: 0
  .footer
    padding-top: 40px
    &-partners
      grid-column: 2/3
    &-bottom-grid
      grid-template: 1fr / 283px 1fr
    &-super
      grid-column: 1 / 2
    &-logo
      width: 104px
      height: 120px
      order: 0
      grid-row: 1 span
    &-socnetwork
      align-self: center
      order: 1
      grid-column: 2 span
      margin-left: -12px
      margin-top: 40px
    &-categories
      grid-row: 1 span
      order: 2
    &-addinformation
      order: 3
    &-leginformation
      order: 4
    &-contacts
      margin-top: 30px
      order: 5
      grid-column: 3 span
      &__element
        &__map
          margin-right: 17px
        &__phone
          margin-top: 4px
          margin-right: 11px
        &__mail
          margin-right: 19px
    &-feedback
      margin-top: 20px
      order: 6
      grid-column: 3 span
      margin-bottom: 60px
      &-title
        margin-top: 0
      &-container
        width: 78%
    &-grid
      column-gap: 38px
      grid-template: none
      grid-auto-rows: max-content
      grid-template-columns: 0.26fr 0.42fr 0.32fr
  .modal
    &-window
      width: 90%
      height: 90%
      padding: 30px 40px
@media ( max-width: 700px )
  .hotel
    &-price
      width: 48%
    &-info
      &__rating
        display: none
  .container
    justify-content: space-between
    width: 90%
  .search
    display: none
    &__mobile
      &__visible
        display: block
        position: relative
        width: 243px
        height: 40px
        margin: 0
  .logo
    width: 100px
    height: 14px
  .adaptive-button
    outline: none
    height: 11px
    width: 16px
    display: flex
    flex-direction: column
    justify-content: space-between
    border: none
    background-color: #fff
    &__line
      height: 1px
      width: 16px
      background-color: $text-color
  .map
    width: 48%
  .subscribe
    height: 320px
    &-title
      margin-right: 0
      margin-bottom: 37px
    &-container
      flex-direction: column
      align-items: start
  .footer
    &-feedback
      width: 100%
      &-container
        width: 100%
  .row
    &__mobile
      &--hidden
        display: none
      &--visible
        position: relative
        right: 0
        left: 0
        width: 100%
        z-index: 4
        display: flex
        flex-direction: column
        height: 95vh
        overflow-y: scroll
    &--top
      top: 0
      right: 0
      left: 0
      z-index: 4
  body
    padding-top: 94px
  .header
    top: 0
    position: fixed
    z-index: 4
    width: 100%
    &-link
      margin-bottom: 20px
    &-container
      &--bottom
        position: absolute
        overflow-y: scroll
        margin: 0
        height: 100%
        display: flex
        flex-direction: column
        justify-content: start
        padding-top: 45px
        padding-bottom: 68px
  .login
    display: none
    height: auto
    &__img
      margin-right: 0
      margin-bottom: 10px
    &__mobile
      &__visible
        display: flex
        flex-direction: column
        justify-content: center
        width: auto
        font-size: 14px
        line-height: 18px
        text-transform: none
        margin-bottom: 27
        font-weight: normal

@media (max-width: 660px)
  .activities
    &-block
      width: 97.225%
      &-container
        flex-direction: column
        align-items: center
  .map
    width: 100%
  .hotel
    &-price
      width: 100%
      margin-right: 0
      margin-bottom: 20px
    &-grid
      &_inside
        height: 20%
  .rewies
    &-swiper
      width: 90%
  .modal
    &-window
      transform: translateY(-50%, 50%)
      width: 90%

@media ( max-width: 480px )
  .container
    width: 93%
  .stars
    max-width: 60px
  .hotel
    &-swiper
      &-container
        width: 100%
        height: 100%
    &-price
      width: 100%
      margin-right: 0
      margin-bottom: 20px
    &-grid
      &_inside
        margin-top: 18px
        width: 100%
        margin-bottom: 20px
        height: 250px
    &-info
      &__text
        width: 100%
        &__top
          justify-content: space-between
        &__offer
          order: -1
        &__name
          width: 100%
          margin-top: 14px
          margin-right: 0
  .rewies
    &-title
      margin-bottom: 42px
    &-swiper
      &-button
        top: 177px
        &__prev
          left: 20%
        &__next
          right: 20%
  .map
    width: 100%
  .subscribe
    align-items: start
    padding-top: 76px
    padding-bottom: 83px
    &-form
      &__row
        &-input
          width: 280px
  .footer
    padding-bottom: 20px
    padding-top: 70px
    &-partners
      justify-content: start
      grid-row: 2 / 3
      grid-column: 1 / 2
    &-bottom-grid
      grid-template: 1fr 1fr / 1fr
    &-logo
      order: 0
    &-socnetwork
      margin: 0
      display: flex
      flex-wrap: wrap
      width: 100%
      order: 1
      grid-column: 1 span
      &__text
        margin-right: 0
        flex-basis: 100%
        margin-bottom: 22px
    &-leginformation
      margin: 0
      width: 100%
      order: 2
    &-addinformation
      margin: 0
      width: 100%
      order: 3
    &-categories
      margin: 0
      width: 100%
      order: 4
    &-contacts
      margin: 0
      margin-top: 10px
      width: 100%
      order: 5
      grid-column: 1 span
    &-feedback
      margin-bottom: 30px
      margin-top: 30px
      width: 100%
      order: 6
      grid-column: 1 span
      &__message
        margin-bottom: 15px
      &__button
        order: 1
      &__lemma
        order: 0
        margin-bottom: 15px
      &__block
        width: 100%
    &-grid
      grid-template-columns: 1fr
      gap: 30px
  .modal
    &-window
      padding-right: 10px
      padding-left: 10px
@media ( max-width: 344px )
  .rewies
    &-swiper
      &-button
        top: 222px
@media ( max-width:  320px)
  body
    padding-top: 70px
  .logo
    margin-top: -9px
    padding-left: -4px
  .header
    &-container
      padding: 28px 0
  .row
    &--top
      height: 70px
  .container
    width: 278px
  .hotel
    &-grid
      &-container
        padding-bottom: 40px
      &_inside
        max-height: 179px
    &-info
      padding-top: 0
    &-swiper
      &-button
        height: 12px
        width: 12px
        background-size: 17px 10px
        &--prev
          left: 10px
        &--next
          right: 10px
  .map
    width: 100%
  .subscribe
    &-form
      max-width: 280px
    &-title
      &__p1
        font-weight: 300
        font-size: 20px
        line-height: 25px
      &__p2
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .rewies
    &-title
      font-size: 18px
      line-height: 23px
      width: 245px
    .rewies
      &-swiper
        margin: 0
        width: 100%
        &-button
          top: 118px
          &__next
            right: 37px
          &__prev
            left: 34px
        &-author
          width: 100%
          &__rating
            width: 48px
            height: 6px
            justify-self: center
          &__text
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 160%
            padding: 33px 27px 36px 33px
  .hotel
    &-price
      padding: 29px 21px 26px 22px
      &-button
        padding: 0
        width: 235px
        height: 45px
  .activities
    padding-top: 45px
    padding-bottom: 40px
    &-block
      width: 100%
      &__2nd
        margin-bottom: 28px
    &-title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .footer
    padding-bottom: 40px
    &-super
      margin-bottom: 20px
    &-logo
      margin-top: 0
      &__img
        align-self: start
    &-feedback
      &__bottom
        flex-direction: column
        align-items: start
      &-title
        margin-top: 0
        margin-bottom: 15px
    &-contacts
      &__element
        padding-left: 0
        &__map
          margin-right: 0
        &__mmark
          align-self: start
        &__mail
          margin-right: 11px
        &__phone
          width: 23px
          height: 23px
          margin: 4px 8px 0 0

@media ( max-height: 524px )
  .modal
    &-window
      overflow-y: scroll
