@import 'mixins'
@import 'var'
  @media ( max-width: 1200px )
  .container
    max-width: 960px
@media ( max-width: 992px )
  .container
    max-width: 700px
  .logo
    margin-right: auto
  .header-link
    font-size: 12px
    line-height: 15px
    font-weight: bold
  .search
    width: 340px
  .logo
    width: 132px
    height: 18px
@media ( max-width: 768px )
  .container
    max-width: 80%
  .search, .login, .row--bottom
    display: none
  .adaptive-button
    height: 11px
    width: 16px
    display: flex
    flex-direction: column
    justify-content: space-between
    border: none
    background-color: #fff
    &__line
      height: 1px
      width: 16px
      background-color: $text-color
@media ( max-width: 480px )
  .logo
    width: 100px
    height: 14px
  
  
