*
  box-sizing: border-box
.container
  margin: auto
  width: 1108px
  display: flex
  justify-content: space-between
  align-items: center
body
  color: $text-color
  margin: 0
  background-color: $bgc
  font-family: 'Mulish'
  outline: none
.row
  width: 100%
  display: flex
  align-items: center
img
  max-width: 100%
a
  text-decoration: none
  color: inherit
p
  margin: 0
button
  cursor: pointer
.error
  color: red
