@import '../_var'
@import '../_keyframes'
.footer
  background-color: $dark-color
  padding-top: 108px
  padding-bottom: 46px
  color: white
  &-partners
    grid-column: 3/4
    height: 22px
    display: flex
    justify-content: flex-end
    &__img
      width: 136px
  &-super
    display: flex
    width: 283px
    justify-content: space-between
    grid-column: 2/3
    font-weight: normal
    font-size: 12px
    line-height: 15px
    &__text
      &:hover
        animation-name: swingY
        animation-duration: 300ms
        animation-fill-mode: forwards
  &-container
    flex-direction: column
  &-bottom-grid
    width: 100%
    display: grid
    grid-template: 1fr / repeat(3, 1fr)
  &-title
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    margin-bottom: 16px
    display: block
  &-socnetwork
    display: flex
    align-self: center
    &__youtube, &__facebook
      margin-right: 11px
      &:hover
        animation-name: swingY
        animation-duration: 300ms
        animation-fill-mode: forwards
    &__instagram
      &:hover
        animation-name: swingY
        animation-duration: 300ms
        animation-fill-mode: forwards
    &__text
      margin-bottom: 0
      margin-right: 43px
  &-text
    font-weight: normal
    font-size: 14px
    text-transform: none
    color: #BDBDBD
    line-height: 23px
    margin-right: 0
    &:hover
      animation-name: swing
      animation-duration: 300ms
      animation-timing-function: ease
      animation-fill-mode: forwards
  &-list
    list-style: none
    padding: 0
    margin: 0
  &-logo
    grid-row: 2 span
    width: 166px
    height: 192px
    &__img
      width: 100%
      height: 100%
  &-categories
    grid-row: 2 span
  &-socnetwork
    grid-column: 2 span
  &-contacts
    margin-top: 82px
    margin-right: 60px
    grid-column: 2 span
    &-text
      margin-bottom: 22px
    &__element
      padding-left: 0
      display: flex
      align-items: center
      &__map
        margin-bottom: 26px
      &__call
        align-items: start
        margin-bottom: 26px
      &__ul
        padding: 0
        list-style: none
      &__phone
        margin-right: 20px
        margin-top: 14px
        height: 23px
        width: 23px
      &__mmark
        margin-right: 20px
        width: 14px
        height: 20px
      &__mail
        margin-right: 20px
        width: 16.67px
        height: 13.37px
  &-feedback
    margin-top: 82px
    grid-column: 2 span
    margin-bottom: 101px
    &__block
      width: 47.31%
      margin-bottom: 15px
    &__bottom
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
    &__lemma
      font-weight: bold
      font-size: 12px
      line-height: 15px
    &__button
      width: 160px
      height: 50px
      border-radius: 4px
      outline: none
      position: relative
      font-weight: bold
      font-size: 12px
      line-height: 15px
      top: 0
      right: 0
      background-color: $primary
      border: none
      color: white
      &:hover
        background-color: $buttonHover
        transition-duration: 300ms
    &-container
      width: 100%
      display: flex
      justify-content: space-between
      flex-wrap: wrap
    &__name, &__phone
      width: 100%
      height: 50px
      border-radius: 4px
      border: none
      padding-left: 23px
      outline: none
      font-weight: normal
      font-size: 12px
      line-height: 15px
    &__message
      width: 100%
      height: 123px
      border-radius: 4px
      border: none
      padding-left: 23px
      outline: none
      margin-bottom: 23px
      padding: 18px 23px
      font-weight: normal
      font-size: 12px
      line-height: 15px
    &-title
      margin: 0
      margin-top: -10px
      margin-bottom: 34px
  &-grid
    display: grid
    grid-template: 171px 23px 1fr / 285px 285px 345px 195px
    row-gap: 24px
