.hotel
  &-info
    padding-top: 24px
    padding-bottom: 20px
    width: 100%
    display: flex
    justify-content: space-between
    &__text
      &__top
        display: flex
        flex-wrap: wrap
        align-items: center
      &__name
        margin: 5px 14px 0 0
        font-weight: bold
        font-size: 24px
        line-height: 30px
      &__offer
        margin-top: 5px
        padding: 4px 9px
        background-color: $primary
        font-size: 10px
        line-height: 13px
        color: #fff
        border-radius: 4px
      &__bottom
        font-weight: normal
        font-size: 12px
        line-height: 15px
    &__rating
      margin: 0
      height: 45px
      width: 65px
      border-radius: 4px
      background-color: $primary
      color: #fff
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      &__text
        font-weight: 600
        font-size: 8px
        line-height: 10px
      &__counter
        &__left
          font-size: 14px
          line-height: 18px
        &__right
          font-size: 8px
          line-height: 10px
.stars
  width: 100%
